In [1]:
# Import dependecies needed
import pandas as pd

In [2]:
# Import Data Base
db_directors = pd.read_csv("Resources/directors.csv", encoding = "ISO-8859-1")

In [3]:
#verify base 
db_directors.head(5)

,name,year,nominations,rating,duration,genre1,genre2,release,metacritic,synopsis
0,Birdman,2014,9,7.8,119,Comedy,Drama,November,88.0,Illustrated upon the progress of his latest Br...
1,Gravity,2013,10,7.9,91,Sci-Fi,Thriller,October,96.0,A medical engineer and an astronaut work toget...
2,Life of Pi,2012,11,8.0,127,Adventure,Drama,November,79.0,A young man who survives a disaster at sea is ...
3,The Artist,2011,10,8.0,100,Comedy,Drama,October,89.0,A silent movie star meets a young dancer but t...
4,The King's Speech,2010,12,8.0,118,Biography,Drama,December,88.0,The story of King George VI of the United King...

In [4]:
# Clone the oscars database with the variables we need, so we can modify over this one and keep the original intact.
db_directors_m = db_directors[['name','year', 'metacritic']]

db_directors_m.head()

                 name  year  metacritic
0             Birdman  2014        88.0
1             Gravity  2013        96.0
2          Life of Pi  2012        79.0
3          The Artist  2011        89.0
4   The King's Speech  2010        88.0